@using Orchard.Mvc.Html;

@{
    if (MvcHtmlString.IsNullOrEmpty(Html.Title())) {
        Html.AddTitleParts((string)WorkContext.Layout.Title);
    }    
}
<!DOCTYPE html> 
<html lang="en" class="static @Html.ClassForPage()"> 
<head> 
    <meta charset="utf-8" /> 
    <title>@Html.Title()</title>    
    <link href="@Href("../Styles/style.css")" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Href("../Styles/manage.css")" rel="stylesheet" type="text/css" media="screen" />
    @Display(Model.Head)
</head> 
    <body> 
        @Display(Model.Body)
        @Display(Model.Tail)
    </body>
</html>